<ion-header>
  <ion-toolbar class="new-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dispositivo" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Detalle sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="highcharts" style="width:100%; height:300px;"></div>
      <ion-button *ngIf="!elecVal, else cerrar" expand="block" (click)="openElecVal()">
       <p appChangeColor> Abrir Electroválvula</p>
      </ion-button>
    <ng-template #cerrar>
        <ion-button expand="block" (click)="closeElecVal()">
        <p appChangeColor> Cerrar Electroválvula</p>
        </ion-button>
    </ng-template>
      <ion-button expand="block" routerLink="mediciones">
       <p appChangeColor> Ver todas las mediciones </p>
      </ion-button>
      <ion-button expand="block" routerLink="riegos">
       <p appChangeColor> Ver log riegos </p>
      </ion-button>
  </ion-card>
</ion-content>
