<ion-header>
  <ion-toolbar class="new-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dispositivo/{{this.disId}}" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mediciones del sensor {{this.disId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable 
      class="bootstrap"
      [limit]="10" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">
      <ngx-datatable-column prop="medicionId"></ngx-datatable-column>
      <ngx-datatable-column name="valor"></ngx-datatable-column>
      <ngx-datatable-column name="fecha">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | changeDate}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>
</ion-content>
